{% extends "base.html" %}
{% load staticfiles %}
{% block content%}

<h2>Sistema de gestión de desechos sólidos en hospitales</h2>
<br><br>
<div class="container">
<table class="col-12 table">
	<tbody>
		<tr class="row">
						
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img title="Segunda planta emergencias"class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-121</b></p>
							<div class="btn-group" id="basurero1">							
							<button onclick="enProceso()" id="estado"></button>
						</div>
						</div>
					</div>
				</div>
			</td>
			<!--datos de prueba-->
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-122</b></p>
							<button class="btn btn-info"> Vacio</button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-123</b></p>
							<button class="btn btn-warning"> Lleno </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-124</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-125</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-126</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-127</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-128</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-129</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-130</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-131</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<td class="col-2  align-items-center">
				<div class="cajitaTrash">
					<img class="mx-auto d-block" src=" {% static '/img/trash.png' %}">
					<div  class="cajita">
						<div style="text-align: center;">
							<p><b>B-132</b></p>
							<button class="btn btn-success"> Activo </button>
						</div>
					</div>
				</div>
			</td>
			<!--fin datos-->
		</tr>
	</tbody>
</table>
</div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-database.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->



<script>
  // Your web app's Firebase configuration
  var config = {
    apiKey: "AIzaSyBTsizvO3RPmLMBPt1SPWJBJrUQ1G8yn08",
    authDomain: "arc-115.firebaseapp.com",
    databaseURL: "https://arc-115.firebaseio.com",
    projectId: "arc-115",
    storageBucket: "arc-115.appspot.com",
    messagingSenderId: "862866229603",
    appId: "1:862866229603:web:6c6f241b56cd9dc5a32b56",
    measurementId: "G-2ZTCDE2QN1"
  };
  	firebase.initializeApp(config);
  // Initialize Firebase

  	  function inicializarBase()
  	  {
  	  var database = firebase.database();
	  //var estado = document.getElementById('basurero2');
	  var boton1= document.getElementById('estado');
	  var mensajeRef = database.ref('distancia');
	  mensajeRef.once('value').then(function(snap){
	  	if(snap.val()<9 && boton1.innerText!='En Proceso'){
	  		//estado.innerText= snap.val();
	  		boton1.innerText='Lleno';
	  		boton1.className='btn btn-danger';
	  	}
	  	if(snap.val()>9){
	  		//estado.innerText= snap.val();
	  		boton1.innerText='Activo';
	  		boton1.className='btn btn-success';
	  	}

	  })

	  
  	  }
  	  setInterval('inicializarBase()',500);

	  function enProceso()
	  {
	  	var boton= document.getElementById('estado');
	  	boton.addEventListener('click',function(){
	  		boton.innerText='En Proceso';
	  		boton.className= 'btn btn-warning';
	  	})
	  }



 

</script>


{% endblock content %} 